@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: #262239;
  color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  display: none;
}

*::-webkit-scrollbar-track {
  display: none;
}

*::-webkit-scrollbar-thumb {
  display: none;
}

::-webkit-scrollbar-thumb:hover {
  display: none;
}